:root {
    /* FONTS */
    --main-fonts: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    /* TXT CL */
    --main-txt-cl: #212121;
    --secondary-txt-cl: #FFFFFF;
    --thirty-txt-cl: #2196F3;
    --fourth-txt-cl: #757575;
    /* BG CL */
    --main-bg-cl: #23242C;
    --secondary-bg-cl: #2196F3;
    --thirty-bg-cl: #188CE8;
    --fourth-bg-cl: #F5F4FA;
    --fifth-bg-cl: #FFFFFF;
    --sixth_bg-cl: #2F303A;
    /* OTHERS */
}


/* ТІЛО ГОЛОВНОЇ СТОРІНКИ ТА ПОРТФОЛІО*/

.body {
    font-family: var(--main-fonts);
    font-style: normal;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navlink .current {
    color: var(--thirty-txt-cl);
}


/* СТИЛЬ ЛОГОТИПА У ШАПЦІ САЙТУ */

.lg {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--thirty-txt-cl);
}

.lg-txt {
    color: var(--main-txt-cl);
}


/* СТИЛЬ ШАПКИ САЙТУ */

.navlink a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
}

.navlink a:hover,
.navlink a:active {
    color: var(--thirty-txt-cl);
}

.head-mail,
.head-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--fourth-txt-cl);
}

.head-mail:hover,
.head-mail:active {
    color: var(--thirty-txt-cl);
}


/* СТИЛЬ 1-Ї СЕКЦІЇ */

.title {
    background-color: var(--main-bg-cl);
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-txt-cl);
}

.btn {
    background-color: var(--secondary-bg-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.149);
    border-radius: 4px;
    color: var(--secondary-txt-cl);
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.06em;
}

.btn:hover {
    background-color: var(--thirty-bg-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--secondary-txt-cl);
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.06em;
}


/* СТИЛЬ СЕКЦІЇ ПЕРЕВАГИ */

.advange {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-txt-cl);
}

.adv-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-txt-cl);
    margin: 0;
    margin-bottom: 10px;
}

.adv-txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--fourth-txt-cl);
    margin: 0;
}


/* СТИЛЬ СЕКЦІЇЇ ЧИМ МИ ЗАЙМАЄМОСЬ */

.title-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}

.work-img-1 {
    mix-blend-mode: normal;
}


/* СТИЛЬ СЕКЦІЇ НАША КОМАНДА */

.section-team {
    background-color: var(--fourth-bg-cl);
}

.list-team-1,
.list-team-2,
.list-team-3,
.list-team-4 {
    background-color: var(--fifth-bg-cl);
    box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024, 0px 2px 1px #00000033;
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}

.team-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--fourth-txt-cl);
    top: 10px;
}


/* СТИЛЬ СЕКЦІЇ FOOTER*/

.foot {
    background-color: var(--sixth_bg-cl);
}

.lg-foot {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--thirty-txt-cl);
}

.lg-foot-txt {
    color: var(--secondary-txt-cl);
}

.adress-foot {
    color: var(--secondary-txt-cl);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.foot-map {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);
}

.foot-mail,
.foot-number {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}


/* СТИЛЬ ПОРТФОЛІО*/


/* СТИЛЬ ФІЛЬТРУ*/

.btn-filtr {
    background-color: var(--fourth-bg-cl);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
}

.btn-filtr.current,
.btn-filtr:hover {
    background-color: var(--secondary-bg-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--secondary-txt-cl);
}


/*СТИЛЬ СЕКЦІЇ PROJECTS*/

.title-project {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-txt-cl);
}

.subtitle-project {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--fourth-txt-cl);
}

.project-1,
.project-2,
.project-3,
.project-4,
.project-5,
.project-6,
.project-7,
.project-8,
.project-9 {
    box-sizing: border-box;
    background-color: var(--fifth-bg-cl);
    border: 1px solid #EEEEEE;
}